# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.classpath
.project
bin/
build/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# 备份
*.bak
*.orig
*.rej

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
logs/

# 临时文件
垃圾桶/
目标/